<md-content layout-padding>
  <md-list ng-controller="FontoController as vm">
    <md-progress-linear ng-hide="!vm.loading" md-mode="indeterminate"></md-progress-linear>
    <md-list-item ng-hide="vm.loading" ng-repeat="font in vm.fonts | limitTo:20 | orderBy:vm.sort.type:vm.sort.direction">
      <div class="md-list-item-text" flex>
        <div layout="row">
          <p>{{ font.family }} <span class="md-caption">{{ font.styles.count }} styles</span></p>
          <span flex></span>
          <span layout="row" flex="40">
            <md-slider-container flex="60">
              <md-slider min="12" max="72" value="{{ font.defaultSize }}" ng-model="font.defaultSize" aria-label="Set font size"></md-slider>
            </md-slider-container>
            <span flex></span>
            <md-switch ng-repeat="v in [0]"></md-switch>
          </span>
        </div>
        <h1 flex contenteditable="true" style="font-size: {{ font.defaultSize + 'px;' }}">The quick brown fox jumps over the lazy dog</h1>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
